VICXML/src/xsd/inception_v1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
=============================================================================================
Interface Name: Inception

Version control
===========
v0.1		matthew.a.croxon@accenture.com			11-May-2016			Initial Version based on D04d v0.8 
v1.0		m.ashok.ujjanakoppa@accenture.com	13-May-2016			XSD file generated for Inception Event present in D04d v.11 Design Deliverable
v1.1		m.ashok.ujjanakoppa@accenture.com	17-May-2016			Implemented Vodafone review comments on version control for below details
																									  Interface Name is corrected,Delivery date and comments are updated for v1.0 of this XSD
																		19-May-2016			XSD is updated with respect to D04d v.14
																									1)LeasingType field is added in Leasing Array
																									2)MaterialRightID,FundType and RebateType fields are made mandatory
																										Typo Error correction pobNameType -> pOBNameType
																		20-May-2016			3) Below Fields are removed from contract level details
																											IFRS15ContractType,IFRS15ChannelType,BusinessArea,SubArea,
																											Financing Discount Rate,Annual Rebate Basis,TrueUp Frequency		
																									4) AnnualRebateBasis field is added in Rebate Array
																									5) PricePerExcess is removed from Service Array
			m.ashok.ujjanakoppa@accenture.com  	24-May-2016			No new impacts in Inception XSD in the latest version of D04d v.015
v1.2		m.ashok.ujjanakoppa@accenture.com	25-May-2016			Updated XSD with respect to v.16 of D04d:
																								    1)Update the name from "Discount" field to "Material Right Discount" in the Material Right Array
																									2)"Material Right Time Unit" was removed from the Material Right Array 
																									3)"Annual Rebate Basis" removed from Rebate Array
																									4)"Rebate qualifying criteria" removed from Rebate Array
																									5)"Subscriber services uptake Expected" removed from Tech Fund Array
v1.3 		m.ashok.ujjanakoppa@accenture.com	27-May-2016			Updated XSD with respect to v.17 of D04d:
																									1)Removed 'iFRS15ChannelType' element from Device and Service Array.
																									2)Added 'indirectChannelTariffEqualisationFactor' element in Service Array
																									3)Removed element 'materialRightDiscount' from Material Right array
																									4)Added new 4 COPA dimensions
																									 salesOr,salesOffice,orderNumber and functionalArea
																									5)Profit center element is made mandatory in Rebate and Fund arrays
v1.4		miguel.b.gutierrez@accenture.com			01-Jun-2016		Updated XSD with respect to v18 of D04d:
																								1)Nillable = "false" removed from "Exclude from Allocation" and "Catch Up Indicatior", as they can be blank.
			miguel.b.gutierrez@accenture.com  	    10-Jun-2016		No new impacts in Inception XSD in the latest version of D04d v.019
			miguel.b.gutierrez@accenture.com  	     01-Jul-2016		No new impacts in Inception XSD in the latest version of D04d v1.0


=============================================================================================
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" xmlns:com="http://ifrs.vodafone.com/commonTypes_v1" xmlns:tns="http://ifrs15.vodafone.com/events/inception_v1" xmlns:ns1="http://ifrs.vodafone.com/ifrs15_commonTypes_v1" targetNamespace="http://ifrs15.vodafone.com/events/inception_v1" elementFormDefault="qualified" attributeFormDefault="unqualified" vc:minVersion="1.1">
	<xs:import namespace="http://ifrs.vodafone.com/commonTypes_v1" schemaLocation="ifrs15_commontypes_v1.xsd"/>
	<xs:element name="Inceptions">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Header" type="com:fileHeaderComplexType" nillable="false" minOccurs="1" maxOccurs="1"/>
				<xs:element name="Data" type="tns:inceptionsComplexType" nillable="false" minOccurs="1" maxOccurs="1"/>
				<xs:element name="Footer" type="com:fileFooterComplexType" nillable="false" minOccurs="1" maxOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="inceptionsComplexType">
		<xs:sequence>
			<xs:element name="Inception" type="tns:inceptionComplexType" nillable="false" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="inceptionComplexType">
		<xs:sequence>
			<xs:element name="eventType" type="com:eventTypeType" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xs:element name="eventDate" type="com:eventDateType" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xs:element name="eventContractID" type="com:eventContractIDType" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xs:element name="iFRS15SynonymID" type="com:iFRS15SynonymIDType" nillable="false" minOccurs="0" maxOccurs="1"/>
			<xs:element name="companyCode" type="com:companyCodeType" nillable="false" minOccurs="0" maxOccurs="1"/>
			<xs:element name="contractStartDate" type="com:contractDateType" nillable="false" minOccurs="0" maxOccurs="1"/>
			<xs:element name="contractEndDate" type="com:contractDateType" nillable="false" minOccurs="0" maxOccurs="1"/>
			<xs:element name="contractTimeUnit" type="com:contractTimeUnitType" nillable="false" minOccurs="0" maxOccurs="1"/>
			<xs:element name="firstPlanBillingDate" type="com:firstPlanBillingDateType" nillable="false" minOccurs="0" maxOccurs="1"/>
			<xs:element name="catchUpIndicator" type="com:catchUpIndicatorType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="billingType" type="com:billingTypeType" nillable="false" minOccurs="0" maxOccurs="1"/>
			<xs:element name="DeviceList" type="tns:deviceListComplexType" nillable="false" minOccurs="0" maxOccurs="1"/>
			<xs:element name="ServiceList" type="tns:serviceListComplexType" nillable="false" minOccurs="0" maxOccurs="1"/>
			<xs:element name="MaterialRightsList" type="tns:materialRightsListComplexType" nillable="false" minOccurs="0" maxOccurs="1"/>
			<xs:element name="lMSpecificMiDimensions" type="com:lMSpecificMiDimensionsType" nillable="false" minOccurs="0" maxOccurs="1"/>
			<xs:element name="MIAttributes" type="tns:mIAttributesComplexType" nillable="false" minOccurs="0" maxOccurs="1"/>
			<xs:element name="averageDiscountFactor" type="com:averageDiscountFactorType" nillable="false" minOccurs="0" maxOccurs="1"/>
			<xs:element name="currency" type="com:currencyType" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xs:element name="RebateList" type="tns:rebatesListComplexType" nillable="false" minOccurs="0" maxOccurs="1"/>
			<xs:element name="FundList" type="tns:fundsListComplexType" nillable="false" minOccurs="0" maxOccurs="1"/>
			<xs:element name="LeasingList" type="tns:leasingListComplexType" nillable="false" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="deviceListComplexType">
		<xs:sequence>
			<xs:element name="Device" type="tns:deviceComplexType" nillable="false" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="deviceBillingProfileComplexType">
		<xs:sequence>
			<xs:element name="billingAmount" type="com:billingAmountType" nillable="false" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="oneOffPaymentComplexType">
		<xs:sequence>
			<xs:element name="oneOffPaymentType" type="com:oneOffPaymentTypeType" nillable="false" minOccurs="0" maxOccurs="1"/>
			<xs:element name="oneOffPaymentAmount" type="com:oneOffPaymentAmountType" nillable="false" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="oneOffPaymentListComplexType">
		<xs:sequence>
			<xs:element name="OneOffPayment" type="tns:oneOffPaymentComplexType" nillable="false" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="deviceComplexType">
		<xs:sequence>
			<xs:element name="deviceCode" type="com:deviceCodeType" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xs:element name="deviceID" type="com:deviceIDType" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xs:element name="deviceTransferDate" type="com:deviceTransferDateType" nillable="false" minOccurs="0" maxOccurs="1"/>
			<xs:element name="DeviceBillingProfile" type="tns:deviceBillingProfileComplexType" nillable="false" minOccurs="0" maxOccurs="1"/>
			<xs:element name="OneOffPayments" type="tns:oneOffPaymentListComplexType" nillable="false" minOccurs="0" maxOccurs="1"/>
			<xs:element name="financingDiscountRate" type="com:financingDiscountRateType" nillable="false" minOccurs="0" maxOccurs="1"/>
			<xs:element name="lMSpecificMiDimensions" type="com:lMSpecificMiDimensionsType" nillable="false" minOccurs="0" maxOccurs="1"/>
			<xs:element name="MIAttributes" type="tns:mIAttributesComplexType" nillable="false" minOccurs="0" maxOccurs="1"/>
			<xs:element name="sSP" type="com:sSPType" nillable="false" minOccurs="0" maxOccurs="1"/>
			<xs:element name="discountIndicator" type="com:discountIndicatorType" nillable="false" minOccurs="0" maxOccurs="1"/>
			<xs:element name="deviceQuantity" type="com:deviceQuantityType" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xs:element name="averageDiscountFactor" type="com:averageDiscountFactorType" nillable="false" minOccurs="0" maxOccurs="1"/>
			<xs:element name="companyCode" type="com:companyCodeType" nillable="false" minOccurs="0" maxOccurs="1"/>
			<xs:element name="firstPlanBillingDate" type="com:firstPlanBillingDateType" nillable="false" minOccurs="0" maxOccurs="1"/>
			<xs:element name="profitCenter" type="com:profitCenterType" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xs:element name="excludeFromAllocation" type="com:excludeFromAllocationType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="referenceAccount" type="com:referenceAccountType" nillable="false" minOccurs="0" maxOccurs="1"/>
			<xs:element name="pOBName" type="com:pOBNameType" nillable="false" minOccurs="0" maxOccurs="1"/>
			<xs:element name="billingType" type="com:billingTypeType" nillable="false" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="serviceListComplexType">
		<xs:sequence>
			<xs:element name="Service" type="tns:serviceComplexType" nillable="false" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="serviceBillingProfileComplexType">
		<xs:sequence>
			<xs:element name="billingAmount" type="com:billingAmountType" nillable="false" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="serviceComplexType">
		<xs:sequence>
			<xs:element name="serviceCode" type="com:serviceCodeType" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xs:element name="serviceID" type="com:serviceIDType" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xs:element name="serviceTimeUnit" type="com:serviceTimeUnitType" nillable="false" minOccurs="0" maxOccurs="1"/>
			<xs:element name="serviceStartDate" type="com:serviceDateType" nillable="false" minOccurs="0" maxOccurs="1"/>
			<xs:element name="serviceEndDate" type="com:serviceDateType" nillable="false" minOccurs="0" maxOccurs="1"/>
			<xs:element name="ServiceBillingProfile" type="tns:serviceBillingProfileComplexType" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xs:element name="sSP" type="com:sSPType" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xs:element name="OneOffPayments" type="tns:oneOffPaymentListComplexType" nillable="false" minOccurs="0" maxOccurs="1"/>
			<xs:element name="serviceEndDateEstimated" type="com:serviceEndDateEstimatedType" nillable="false" minOccurs="0" maxOccurs="1"/>
			<xs:element name="lMSpecificMiDimensions" type="com:lMSpecificMiDimensionsType" nillable="false" minOccurs="0" maxOccurs="1"/>
			<xs:element name="MIAttributes" type="tns:mIAttributesComplexType" nillable="false" minOccurs="0" maxOccurs="1"/>
			<xs:element name="maxRolloverPeriod" type="com:maxRolloverPeriodType" nillable="false" minOccurs="0" maxOccurs="1"/>
			<xs:element name="discountIndicator" type="com:discountIndicatorType" nillable="false" minOccurs="0" maxOccurs="1"/>
			<xs:element name="inbundleAllowanceValue" type="com:inbundleAllowanceValueType" nillable="false" minOccurs="0" maxOccurs="1"/>
			<xs:element name="inbundleAllowanceType" type="com:inbundleAllowanceTypeType" nillable="false" minOccurs="0" maxOccurs="1"/>
			<xs:element name="serviceQuantity" type="com:serviceQuantityType" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xs:element name="companyCode" type="com:companyCodeType" nillable="false" minOccurs="0" maxOccurs="1"/>
			<xs:element name="firstPlanBillingDate" type="com:firstPlanBillingDateType" nillable="false" minOccurs="0" maxOccurs="1"/>
			<xs:element name="profitCenter" type="com:profitCenterType" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xs:element name="hybridCreditPerTimeUnit" type="com:hybridCreditPerTimeUnitType" nillable="false" minOccurs="0" maxOccurs="1"/>
			<xs:element name="hybridCreditTimeUnit" type="com:hybridCreditTimeUnitType" nillable="false" minOccurs="0" maxOccurs="1"/>
			<xs:element name="excludeFromAllocation" type="com:excludeFromAllocationType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="referenceAccount" type="com:referenceAccountType" nillable="false" minOccurs="0" maxOccurs="1"/>
			<xs:element name="pOBName" type="com:pOBNameType" nillable="false" minOccurs="0" maxOccurs="1"/>
			<xs:element name="billingType" type="com:billingTypeType" nillable="false" minOccurs="0" maxOccurs="1"/>
			<xs:element name="indirectChannelTariffEqualisationFactor" type="com:indirectChannelTariffEqualisationFactorType" nillable="false" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="materialRightsListComplexType">
		<xs:sequence>
			<xs:element name="MaterialRight" type="tns:materialRightsComplexType" nillable="false" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="materialRightsComplexType">
		<xs:sequence>
			<xs:element name="materialRightCode" type="com:materialRightCodeType" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xs:element name="materialRightID" type="com:materialRightIDType" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xs:element name="materialRightStartDate" type="com:materialRightDateType" nillable="false" minOccurs="0" maxOccurs="1"/>
			<xs:element name="materialRightEndDate" type="com:materialRightDateType" nillable="false" minOccurs="0" maxOccurs="1"/>
			<xs:element name="companyCode" type="com:companyCodeType" nillable="false" minOccurs="0" maxOccurs="1"/>
			<xs:element name="materialRightValue" type="com:materialRightValueType" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xs:element name="likelihoodOfExcercise" type="com:likelihoodOfExcerciseType" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xs:element name="timeLimit" type="com:timeLimitType" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xs:element name="lMSpecificMiDimensions" type="com:lMSpecificMiDimensionsType" nillable="false" minOccurs="0" maxOccurs="1"/>
			<xs:element name="MIAttributes" type="tns:mIAttributesComplexType" nillable="false" minOccurs="0" maxOccurs="1"/>
			<xs:element name="profitCenter" type="com:profitCenterType" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xs:element name="referenceAccount" type="com:referenceAccountType" nillable="false" minOccurs="0" maxOccurs="1"/>
			<xs:element name="pOBName" type="com:pOBNameType" nillable="false" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="mIAttributesComplexType">
		<xs:sequence>
			<xs:element name="customerType" type="com:customerTypeType" nillable="false" minOccurs="0" maxOccurs="1"/>
			<xs:element name="callOriginDestination" type="com:callOriginDestinationType" nillable="false" minOccurs="0" maxOccurs="1"/>
			<xs:element name="channel" type="com:channelType" nillable="false" minOccurs="0" maxOccurs="1"/>
			<xs:element name="segment" type="com:segmentType" nillable="false" minOccurs="0" maxOccurs="1"/>
			<xs:element name="bearerTechnology" type="com:bearerTechnologyType" nillable="false" minOccurs="0" maxOccurs="1"/>
			<xs:element name="valueTier" type="com:valueTierType" nillable="false" minOccurs="0" maxOccurs="1"/>
			<xs:element name="proposition" type="com:propositionType" nillable="false" minOccurs="0" maxOccurs="1"/>
			<xs:element name="deviceTechnology" type="com:deviceTechnologyType" nillable="false" minOccurs="0" maxOccurs="1"/>
			<xs:element name="customer" type="com:customerType" nillable="false" minOccurs="0" maxOccurs="1"/>
			<xs:element name="spare1" type="com:spare1Type" nillable="false" minOccurs="0" maxOccurs="1"/>
			<xs:element name="spare2" type="com:spare2Type" nillable="false" minOccurs="0" maxOccurs="1"/>
			<xs:element name="brand" type="com:brandType" nillable="false" minOccurs="0" maxOccurs="1"/>
			<xs:element name="documentType" type="com:documentTypeType" nillable="false" minOccurs="0" maxOccurs="1"/>
			<xs:element name="tradingPartner" type="com:tradingPartnerType" nillable="false" minOccurs="0" maxOccurs="1"/>
			<xs:element name="batch" type="com:batchType" nillable="false" minOccurs="0" maxOccurs="1"/>
			<xs:element name="valuationType" type="com:valuationTypeType" nillable="false" minOccurs="0" maxOccurs="1"/>
			<xs:element name="functionalArea" type="com:functionalAreaType" nillable="false" minOccurs="0" maxOccurs="1"/>
			<xs:element name="orderNumber" type="com:orderNumberType" nillable="false" minOccurs="0" maxOccurs="1"/>
			<xs:element name="salesOffice" type="com:salesOfficeType" nillable="false" minOccurs="0" maxOccurs="1"/>
			<xs:element name="salesOrg" type="com:salesOrgType" nillable="false" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="rebatesListComplexType">
		<xs:sequence>
			<xs:element name="Rebate" type="tns:rebateComplexType" nillable="false" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="rebateComplexType">
		<xs:sequence>
			<xs:element name="rebateID" type="com:rebateIDType" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xs:element name="rebateStartDate" type="com:rebateDateType" nillable="false" minOccurs="0" maxOccurs="1"/>
			<xs:element name="rebateEndDate" type="com:rebateDateType" nillable="false" minOccurs="0" maxOccurs="1"/>
			<xs:element name="annualRebateValue" type="com:annualRebateValueType" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xs:element name="profitCenter" type="com:profitCenterType" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xs:element name="referenceAccount" type="com:referenceAccountType" nillable="false" minOccurs="0" maxOccurs="1"/>
			<xs:element name="pOBName" type="com:pOBNameType" nillable="false" minOccurs="0" maxOccurs="1"/>
			<xs:element name="rebateType" type="com:rebateTypeType" nillable="false" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="fundsListComplexType">
		<xs:sequence>
			<xs:element name="Fund" type="tns:fundComplexType" nillable="false" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="fundComplexType">
		<xs:sequence>
			<xs:element name="fundID" type="com:fundIDType" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xs:element name="fundStartDate" type="com:fundDateType" nillable="false" minOccurs="0" maxOccurs="1"/>
			<xs:element name="fundEndDate" type="com:fundDateType" nillable="false" minOccurs="0" maxOccurs="1"/>
			<xs:element name="fundType" type="com:fundTypeType" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xs:element name="fundAmount" type="com:fundAmountType" nillable="false" minOccurs="0" maxOccurs="1"/>
			<xs:element name="amountOfTechFundUtilisedByCustomerExpected" type="com:amountOfTechFundUtilisedByCustomerExpectedType" nillable="false" minOccurs="0" maxOccurs="1"/>
			<xs:element name="profitCenter" type="com:profitCenterType" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xs:element name="referenceAccount" type="com:referenceAccountType" nillable="false" minOccurs="0" maxOccurs="1"/>
			<xs:element name="pOBName" type="com:pOBNameType" nillable="false" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="leasingListComplexType">
		<xs:sequence>
			<xs:element name="Leasing" type="tns:leasingComplexType" nillable="false" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="leasingComplexType">
		<xs:sequence>
			<xs:element name="leasingID" type="com:leasingIDType" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xs:element name="leasingStartDate" type="com:leasingDateType" nillable="false" minOccurs="0" maxOccurs="1"/>
			<xs:element name="leasingEndDate" type="com:leasingDateType" nillable="false" minOccurs="0" maxOccurs="1"/>
			<xs:element name="leasingType" type="com:leasingTypeType" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xs:element name="leasedAssetFairValue" type="com:leasedAssetFairValueType" nillable="false" minOccurs="0" maxOccurs="1"/>
			<xs:element name="financeCharge" type="com:financeChargeType" nillable="false" minOccurs="0" maxOccurs="1"/>
			<xs:element name="referenceAccount" type="com:referenceAccountType" nillable="false" minOccurs="0" maxOccurs="1"/>
			<xs:element name="pOBName" type="com:pOBNameType" nillable="false" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
