VICXML/src/xsd/saprarresponse_v1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
=============================================================================================
Interface Name: SAP RAR Response

Version control
===========

v1.0		m.ashok.ujjanakoppa@accenture.com	27-May-2016		XSD file generated for SAP RAR Response Event present in D04d v.17 Design Deliverable
			miguel.b.gutierrez@accenture.com  	    01-Jun-2016		No new impacts in SAP RAR Response XSD in the latest version of D04d v.018
			miguel.b.gutierrez@accenture.com  	    10-Jun-2016		No new impacts in SAP RAR Response XSD in the latest version of D04d v.019
			miguel.b.gutierrez@accenture.com  	     01-Jul-2016		No new impacts in SAP RAR Response XSD in the latest version of D04d v1.0

=============================================================================================
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" xmlns:com="http://ifrs.vodafone.com/commonTypes_v1" xmlns:tns="http://ifrs15.vodafone.com/events/saprarresponse_v1" targetNamespace="http://ifrs15.vodafone.com/events/saprarresponse_v1" elementFormDefault="qualified" attributeFormDefault="unqualified" vc:minVersion="1.1">
	<xs:import namespace="http://ifrs.vodafone.com/commonTypes_v1" schemaLocation="ifrs15_commontypes_v1.xsd"/>
	<xs:element name="SAPRARResponses">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Header" type="com:fileHeaderComplexType" nillable="false" minOccurs="1" maxOccurs="1"/>
				<xs:element name="Data" type="tns:sAPRARResponsesComplexType" nillable="false" minOccurs="1" maxOccurs="1"/>
				<xs:element name="Footer" type="com:fileFooterComplexType" nillable="false" minOccurs="1" maxOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="sAPRARResponsesComplexType">
		<xs:sequence>
			<xs:element name="SAPRARResponse" type="tns:sAPRARResponseComplexType" nillable="false" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="sAPRARResponseComplexType">
		<xs:sequence>
			<xs:element name="eventType" type="com:eventTypeType" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xs:element name="eventDate" type="com:eventDateType" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xs:element name="eventContractID" type="com:eventContractIDType" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xs:element name="iFRS15SynonymID" type="com:iFRS15SynonymIDType" nillable="false" minOccurs="0" maxOccurs="1"/>
			<xs:element name="iFRS15SAPRARContractID" type="com:iFRS15SAPRARContractIDType" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xs:element name="ServiceList" type="tns:serviceListComplexType" nillable="false" minOccurs="0" maxOccurs="1"/>
			<xs:element name="DeviceList" type="tns:deviceListComplexType" nillable="false" minOccurs="0" maxOccurs="1"/>
			<xs:element name="MaterialRightList" type="tns:materialRightsListComplexType" nillable="false" minOccurs="0" maxOccurs="1"/>
			<xs:element name="RebateList" type="tns:rebatesListComplexType" nillable="false" minOccurs="0" maxOccurs="1"/>
			<xs:element name="FundList" type="tns:fundsListComplexType" nillable="false" minOccurs="0" maxOccurs="1"/>
			<xs:element name="LeasingList" type="tns:leasingListComplexType" nillable="false" minOccurs="0" maxOccurs="1"/>
			<xs:element name="FeeList" type="tns:feeListComplexType" nillable="false" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="plannedInvoiceListComplexType">
		<xs:sequence>
			<xs:element name="PlannedInvoice" type="tns:plannedInvoiceComplexType" nillable="false" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="plannedInvoiceComplexType">
		<xs:sequence>
			<xs:element name="amountLC" type="com:amountLCType" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xs:element name="currencyLC" type="com:currencyLCType" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xs:element name="amountGC" type="com:amountGCType" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xs:element name="currencyGC" type="com:currencyGCType" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xs:element name="period" type="com:periodType" nillable="false" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="plannedRevenueListComplexType">
		<xs:sequence>
			<xs:element name="PlannedRevenue" type="tns:plannedRevenueComplexType" nillable="false" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="plannedRevenueComplexType">
		<xs:sequence>
			<xs:element name="amountLC" type="com:amountLCType" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xs:element name="currencyLC" type="com:currencyLCType" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xs:element name="amountGC" type="com:amountGCType" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xs:element name="currencyGC" type="com:currencyGCType" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xs:element name="period" type="com:periodType" nillable="false" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="postedRevenueListComplexType">
		<xs:sequence>
			<xs:element name="PostedRevenue" type="tns:postedRevenueComplexType" nillable="false" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="postedRevenueComplexType">
		<xs:sequence>
			<xs:element name="amountLC" type="com:amountLCType" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xs:element name="currencyLC" type="com:currencyLCType" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xs:element name="amountGC" type="com:amountGCType" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xs:element name="currencyGC" type="com:currencyGCType" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xs:element name="period" type="com:periodType" nillable="false" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="invoicedAmountListComplexType">
		<xs:sequence>
			<xs:element name="InvoicedAmount" type="tns:invoicedAmountComplexType" nillable="false" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="invoicedAmountComplexType">
		<xs:sequence>
			<xs:element name="amountLC" type="com:amountLCType" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xs:element name="currencyLC" type="com:currencyLCType" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xs:element name="amountGC" type="com:amountGCType" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xs:element name="currencyGC" type="com:currencyGCType" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xs:element name="period" type="com:periodType" nillable="false" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="serviceListComplexType">
		<xs:sequence>
			<xs:element name="Service" type="tns:serviceComplexType" nillable="false" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="serviceBillingProfileComplexType">
		<xs:sequence>
			<xs:element name="billingAmount" type="com:billingAmountType" nillable="false" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="serviceComplexType">
		<xs:sequence>
			<xs:element name="serviceID" type="com:serviceIDType" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xs:element name="sAPRARServiceID" type="com:sAPRARServiceIDType" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xs:element name="pOBType" type="com:pOBTypeType" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xs:element name="pOBName" type="com:pOBNameType" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xs:element name="effectiveQuantity" type="com:effectiveQuantityType" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xs:element name="fulfilmentQuantity" type="com:fulfilmentQuantityType" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xs:element name="PlannedInvoiceList" type="tns:plannedInvoiceListComplexType" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xs:element name="PlannedRevenueList" type="tns:plannedRevenueListComplexType" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xs:element name="PostedRevenueList" type="tns:postedRevenueListComplexType" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xs:element name="InvoicedAmountList" type="tns:invoicedAmountListComplexType" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xs:element name="companyCode" type="com:companyCodeType" nillable="false" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="deviceListComplexType">
		<xs:sequence>
			<xs:element name="Device" type="tns:deviceComplexType" nillable="false" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="deviceComplexType">
		<xs:sequence>
			<xs:element name="deviceID" type="com:serviceIDType" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xs:element name="sAPRARDeviceID" type="com:sAPRARDeviceIDType" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xs:element name="pOBType" type="com:pOBTypeType" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xs:element name="pOBName" type="com:pOBNameType" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xs:element name="effectiveQuantity" type="com:effectiveQuantityType" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xs:element name="fulfilmentQuantity" type="com:fulfilmentQuantityType" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xs:element name="PlannedInvoiceList" type="tns:plannedInvoiceListComplexType" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xs:element name="PlannedRevenueList" type="tns:plannedRevenueListComplexType" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xs:element name="PostedRevenueList" type="tns:postedRevenueListComplexType" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xs:element name="InvoicedAmountList" type="tns:invoicedAmountListComplexType" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xs:element name="companyCode" type="com:companyCodeType" nillable="false" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="materialRightsListComplexType">
		<xs:sequence>
			<xs:element name="MaterialRight" type="tns:materialRightsComplexType" nillable="false" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="materialRightsComplexType">
		<xs:sequence>
			<xs:element name="materialRightID" type="com:materialRightIDType" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xs:element name="sAPRARMaterialRightID" type="com:sAPRARMaterialRightIDType" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xs:element name="pOBType" type="com:pOBTypeType" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xs:element name="pOBName" type="com:pOBNameType" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xs:element name="effectiveQuantity" type="com:effectiveQuantityType" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xs:element name="fulfilmentQuantity" type="com:fulfilmentQuantityType" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xs:element name="PlannedInvoiceList" type="tns:plannedInvoiceListComplexType" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xs:element name="PlannedRevenueList" type="tns:plannedRevenueListComplexType" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xs:element name="PostedRevenueList" type="tns:postedRevenueListComplexType" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xs:element name="InvoicedAmountList" type="tns:invoicedAmountListComplexType" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xs:element name="companyCode" type="com:companyCodeType" nillable="false" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="rebatesListComplexType">
		<xs:sequence>
			<xs:element name="Rebate" type="tns:rebateComplexType" nillable="false" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="rebateComplexType">
		<xs:sequence>
			<xs:element name="rebateID" type="com:rebateIDType" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xs:element name="sAPRARRebateID" type="com:sAPRARRebateIDType" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xs:element name="pOBType" type="com:pOBTypeType" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xs:element name="pOBName" type="com:pOBNameType" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xs:element name="effectiveQuantity" type="com:effectiveQuantityType" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xs:element name="fulfilmentQuantity" type="com:fulfilmentQuantityType" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xs:element name="PlannedInvoiceList" type="tns:plannedInvoiceListComplexType" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xs:element name="PlannedRevenueList" type="tns:plannedRevenueListComplexType" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xs:element name="PostedRevenueList" type="tns:postedRevenueListComplexType" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xs:element name="InvoicedAmountList" type="tns:invoicedAmountListComplexType" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xs:element name="companyCode" type="com:companyCodeType" nillable="false" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="fundsListComplexType">
		<xs:sequence>
			<xs:element name="Fund" type="tns:fundComplexType" nillable="false" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="fundComplexType">
		<xs:sequence>
			<xs:element name="fundID" type="com:fundIDType" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xs:element name="sAPRARFundID" type="com:sAPRARFundIDType" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xs:element name="pOBType" type="com:pOBTypeType" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xs:element name="pOBName" type="com:pOBNameType" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xs:element name="effectiveQuantity" type="com:effectiveQuantityType" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xs:element name="fulfilmentQuantity" type="com:fulfilmentQuantityType" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xs:element name="PlannedInvoiceList" type="tns:plannedInvoiceListComplexType" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xs:element name="PlannedRevenueList" type="tns:plannedRevenueListComplexType" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xs:element name="PostedRevenueList" type="tns:postedRevenueListComplexType" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xs:element name="InvoicedAmountList" type="tns:invoicedAmountListComplexType" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xs:element name="companyCode" type="com:companyCodeType" nillable="false" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="leasingListComplexType">
		<xs:sequence>
			<xs:element name="Leasing" type="tns:leasingComplexType" nillable="false" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="leasingComplexType">
		<xs:sequence>
			<xs:element name="leasingID" type="com:leasingIDType" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xs:element name="sAPRARLeasingID" type="com:sAPRARLeasingIDType" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xs:element name="pOBType" type="com:pOBTypeType" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xs:element name="pOBName" type="com:pOBNameType" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xs:element name="effectiveQuantity" type="com:effectiveQuantityType" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xs:element name="fulfilmentQuantity" type="com:fulfilmentQuantityType" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xs:element name="PlannedInvoiceList" type="tns:plannedInvoiceListComplexType" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xs:element name="PlannedRevenueList" type="tns:plannedRevenueListComplexType" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xs:element name="PostedRevenueList" type="tns:postedRevenueListComplexType" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xs:element name="InvoicedAmountList" type="tns:invoicedAmountListComplexType" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xs:element name="companyCode" type="com:companyCodeType" nillable="false" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="feeListComplexType">
		<xs:sequence>
			<xs:element name="Fee" type="tns:feeComplexType" nillable="false" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="feeComplexType">
		<xs:sequence>
			<xs:element name="feeID" type="com:feeIDType" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xs:element name="sAPRARFeeID" type="com:sAPRARFeeIDType" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xs:element name="pOBType" type="com:pOBTypeType" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xs:element name="pOBName" type="com:pOBNameType" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xs:element name="effectiveQuantity" type="com:effectiveQuantityType" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xs:element name="fulfilmentQuantity" type="com:fulfilmentQuantityType" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xs:element name="PlannedInvoiceList" type="tns:plannedInvoiceListComplexType" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xs:element name="PlannedRevenueList" type="tns:plannedRevenueListComplexType" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xs:element name="PostedRevenueList" type="tns:postedRevenueListComplexType" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xs:element name="InvoicedAmountList" type="tns:invoicedAmountListComplexType" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xs:element name="companyCode" type="com:companyCodeType" nillable="false" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
